* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.all-page {
    width: 100%;
    height: 100vh;
}

/* Inizio jumbotron */

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}


/* Fine jumbotron */