/* CLassi generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.all-page {
    width: 100%;
    height: 100vh;
    position: relative;
}

.center-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Fine classi generali */

/* Wrapper */

.wrapper {
    width: 80%;
    margin: 0 auto;
}

/* Inizio jumbotron */

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* Inizio navbar */
/* Centro l'header con la pagina' */
#main-header {
    color: white;
    text-align: center;
}

/* Formattazione voci menu */
#main-header ul li {
    display: inline-block;
    line-height: 68px;
    padding: 0px 5px;
    text-decoration: none;
}

#main-header ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding-right: 3px;

}

/* Centro il logo con il menu*/
#main-header nav .logo img {
    vertical-align: middle;
    
}

.text {
    position:absolute;
}

.text h1 {
    font-size: 40px;
}

.text p {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 2%;
}

/* Fine navbar */


/* Fine jumbotron */